@import url('https://fonts.googleapis.com/css2?family=Averia+Libre&family=Josefin+Sans&display=swap');

:root{
  --primary: #f7c32e;
  --secondary: #00B895;
  --bg: #ECFFDC;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Josefin Sans', sans-serif !important;
}

/* font-family: 'Averia Libre', cursive; */
/* font-family: 'Josefin Sans', sans-serif; */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ECFFDC;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(161, 161, 161);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(104, 104, 104);
}

::selection {
  color: inherit;
  background: rgba(125, 125, 125, 0.164);
}

.navbar {
  width: 100%;
  position: fixed !important;
  background-color: #ecffdc6e;
  backdrop-filter: blur(30px);
  color: var(--black);
  min-width: 50px;
  font-family: 'Josefin Sans', sans-serif !important;
  z-index: 10;
}

.nav-link{
  font-size: 1.05rem !important;
  font-weight: 600 !important;
  transition: all 0.3s ease-in-out !important;
  color: var(--secondary) !important;
}

.nav-link:hover{
  transform: scale(1.08);
}

.header {
  min-height: 80vh;
  /* background: rgb(255, 255, 255, 0.7); */
}

.footer{
  background: #dffac8;
}

.btn-main{
  background-color: var(--primary) !important;
  border: none;
  border-radius: 20px !important;
  padding: 12px 20px !important;
  font-weight: 600 !important;
  cursor: pointer;
  transition: all 0.3s ease-in-out !important;
}

.btn-main:hover, .btn-main:focus, .btn-main:active{
  transform: scale(1.1);
}

.btn-grey{
  /* background-color: #9696961f !important; */
  /* color: var(--secondary) !; */
  border: 1px solid #96969672 !important;
  border-radius: 20px !important;
  padding: 12px 20px !important;
  font-weight: 600 !important;
  cursor: pointer;
  transition: all 0.3s ease-in-out !important;
}

.btn-grey:hover, .btn-grey:focus, .btn-grey:active{
  background-color: #9696961f !important;
  transform: scale(1.1);
}

.margin-left{
  margin-left: 1rem;
}

.work-icon{
  background-color: #eecc6f;
  padding: 10px 20px 17px 20px;
  color:#000;
  font-size: 2rem;
  margin: 0 1rem;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.page{
  padding-top: 100px;
  background: var(--bg);
}

.text-pri{
  color: var(--primary) !important;
}

.text-second{
  color: var(--secondary) !important;
}
.text-bg{
  color: var(--bg) !important;
}
.bg{
  background-color: var(--bg) !important;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}