:root{
  --primary: #f7c32e;
  --secondary: #00B895;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ECFFDC;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(161, 161, 161);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(104, 104, 104);
}

::selection {
  color: inherit;
  background: rgba(125, 125, 125, 0.164);
}

.navbar {
  width: 100%;
  position: fixed !important;
  background-color: #ecffdc6e;
  backdrop-filter: blur(30px);
  color: var(--black);
  min-width: 50px;
  font-family: "Taviraj", serif;
  z-index: 10;
}

.header {
  min-height: 80vh;
  /* background: rgb(255, 255, 255, 0.7); */
}

.btn-main{
  background-color: var(--primary) !important;
  /* color: var(--secondary) !; */
  border: none;
  border-radius: 20px !important;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.work-icon{
  background-color: #eecc6f;
  padding: 10px 20px 17px 20px;
  color:#000;
  font-size: 2rem;
  margin: 0 1rem;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}